.Game {
  overflow: hidden;

  white-space: nowrap;

  &.Ghost {
    pointer-events: none;

    opacity: .6;
  }
}

.DebugInfo {
  pointer-events: none;
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.PlayArea {
  position: relative;
  width: 100%;
  max-width: 650px;
  height: 100%;

  margin: auto;
  background-color: color-mix(in srgb, black, transparent 20%);

  display: grid;
}

.LaneContainer {
  display: grid;
  grid-template-rows: 100%;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.JudgeLine {
  position: absolute;
  inset: 0;
  height: 1px;

  margin: auto;
  margin-bottom: var(--marginBottom);
  background-color: white;
}

.Notes {
  position: absolute;
  inset: 0;
}
