.ModalStyled:not([open]) {
  display: none;
}

.ModalStyled {
  position: fixed;

  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 36px 0px rgba(0, 0, 0, 0.6);
  border-color: black;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: fadeOut;

  display: flex;
  justify-content: center;
  align-items: center;

  &::backdrop {
    backdrop-filter: blur(8px);
  }
}
