.KeyframeInteraction {
  pointer-events: auto;
  grid-column: var(--gridOrder) / span var(--gridWidth);
  position: absolute;
  left: 0;
  right: 0;
  bottom: var(--progress);
  transform: translateY(50%);

  .InAction {
    opacity: .2;
  }

  .Selected {
    outline: 1px solid currentColor;
  }

  .MayBe {
    pointer-events: none;

    color: color-mix(in srgb, currentColor, transparent 60%);
  }
}
