@keyframes dummy-intro
  from
    transform translateX(0)
  to
    transform translateX(0)
@keyframes dummy-outro
  from
    transform translateX(0)
  to
    transform translateX(0)

&.intro
  animation-name dummy-intro
  
&.outro
  animation-name dummy-outro
