@keyframes dummy-intro
  from
    transform translateX(0)
  to
    transform translateX(0)
@keyframes dummy-outro
  from
    transform translateX(0)
  to
    transform translateX(0)

&.intro
  animation-name dummy-intro
  
&.outro
  animation-name dummy-outro


&.game-start
  @keyframes intro
    from
      transform translateX(100%)
    to
      transform translateX(0)
  @keyframes outro
    from
      transform translateX(0)
    to
      transform translateX(100%)
  animation-duration 1s
  background rgba(white, 0.8)
  &.intro
    animation-name intro
  &.outro
    animation-name outro
