.Timeline {
  position: absolute;
  inset: 0;

  display: grid;
  grid-template-columns: 1fr auto;

  &.Ghost {
    pointer-events: none;

    opacity: .4;

    display: none;
  }
}

.Inner {
  position: relative;
  height: var(--length);

  margin-top: var(--remain);
  margin-bottom: var(--offset);

  display: grid;
  align-items: stretch;
  grid-template:
    "header content" 100%
    / auto 1fr;
}
