.Timeline {
  position: relative;
  height: var(--height);

  display: grid;
  align-items: stretch;
  grid-template-rows: 100%;
  grid-auto-flow: column;
  grid-auto-columns: auto 1fr;
}

.KeyframeLanes {
}
