.Timeline {
  position: absolute;
  top: var(--offset);
  left: 0;
  right: 0;
  height: var(--height);

  display: grid;
  align-items: stretch;
  grid-template:
    "header content" 100%
    / auto 1fr;
}
