.Editor {
  display: grid;
  grid-template:
    "view control" 1fr
    "detail control" auto
    / 1fr auto;
  overflow: auto;
}

.View {
  grid-area: view;
  position: relative;
}

.Interactions {
  grid-area: control;

  display: flex;
  flex-direction: column;
  overflow: auto;
}

.Detail {
  grid-area: detail;
}
