.Editor {
  display: grid;
  grid-template:
    "view control" 1fr
    "detail detail" auto
    / 1fr auto;
}

.View {
  grid-area: view;
  position: relative;
}

.Interactions {
  grid-area: control;
  width: 25vw;

  display: flex;
  flex-direction: column;
}

.Detail {
  grid-area: detail;
}
