*
  all unset

iframe
  border-style none

input
  appearance none
  &[type="number"]::-webkit-outer-spin-button
  &[type="number"]::-webkit-inner-spin-button
    -webkit-appearance none
    margin 0
  &[type="range"]::-webkit-slider-thumb
    -webkit-appearance none
