&
  height 100%
  width 100%
> h1
  display none
.scroll-content
  height 100%
  overflow auto
  > h1
    display none

.order-container
  height 100%
  width 50%

.note
  position absolute
  height 5px
  width 10px
  background-color orange
