@use "controller";
@use "state";

iframe {
  border-style: none;
}
:root,
html,
body {
  margin: 0;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: white;
}

.starter {
  width: 100%;
  height: 100%;
}
.game {
  * {
    all: unset;
  }

  --offset: 0;
  --delay: 0;

  position: relative;
  width: 100%;
  height: 100%;
}

.source,
.player,
.controller,
.in-game-menu,
.action-detector {
  position: absolute;
  width: 100%;
  height: 100%;
}

.player {
  -webkit-user-select: none;
  user-select: none;
}

.progress {
  --duration: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: white;

  @keyframes progress {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }
  animation-play-state: paused;
  @include state.playing {
    animation-play-state: running;
  }
  animation-name: progress;
  @include state.restarting {
    animation: none;
  }
  animation-duration: calc(var(--duration) * 1s);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.view {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 10vmin;
  perspective-origin: top;
}
.lanes {
  position: absolute;
  width: 100%;
  bottom: 0;
  aspect-ratio: 16 / 9; // Experimental in webkit
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(45deg);
  transform-origin: bottom;
  overflow: hidden;
  background: rgba($color: #000000, $alpha: 0.2);
}
.judge-line {
  position: absolute;
  top: 96%;
  width: 100%;
  height: 0%;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  background: rgba($color: red, $alpha: 0.2);
}
.judge-view {
  pointer-events: none;
  position: absolute;
  background: rgba($color: #000000, $alpha: 0.4);
  font-size: 5em;
  font-weight: 600;
}
.lane {
  position: relative;
  width: 100%;
  height: 100%;
  &.action {
    background: rgba($color: #ffffff, $alpha: 0.2);
  }
}

@keyframes fall {
  from {
    top: 0;
  }
  to {
    transform: translateY(0);
    top: 100%;
  }
}
.note {
  animation-play-state: paused;
  @include state.playing {
    animation-play-state: running;
  }
  animation-name: fall;
  @include state.restarting {
    animation: none;
  }

  transform: translateY(-100%);
  animation-delay: calc(calc(var(--offset) + var(--delay)) * 1s);
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  &:not([data-judge=""]) {
    pointer-events: none;
    opacity: 0;
  }

  .judge {
    width: 100%;
    aspect-ratio: 4 / 1;
  }
  .perfect {
    width: 100%;
    aspect-ratio: 8 / 1;
    background-color: orange;
  }
}
