// :root {
//   all: unset;
// }
iframe {
  border-style: none;
}
:root,
html,
body {
  margin: 0;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: white;
}

.starter {
  width: 100%;
  height: 100%;
}
.game {
  --offset: 0;
  --delay: 0;

  position: relative;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;

  &.loading {
    .in-game-menu {
      pointer-events: none;
    }
  }
  &.playing {
    .in-game-menu {
      width: 2em;
      height: 2em;
      left: 0;
      top: 0;
      opacity: 1;
    }
    .note {
      animation-play-state: running;
    }
  }
  &.restarting {
    .note {
      animation: none;
    }
  }
}

.source,
.player,
.in-game-menu,
.action-detector {
  position: absolute;
  width: 100%;
  height: 100%;
}

.in-game-menu {
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  * {
    width: 100%;
    height: 100%;
  }
}
.play-button {
  opacity: 0.2;
  background-color: white;
}
.restart-button {
  opacity: 0.2;
  background-color: black;
}

.view {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 100px;
  perspective-origin: 50% 25%;
}
.lanes {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(45deg);
  transform-origin: bottom;
  overflow: hidden;
  background: rgba($color: #000000, $alpha: 0.2);
}
.judge-line {
  position: absolute;
  top: 92%;
  width: 100%;
  height: 0%;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  background: rgba($color: red, $alpha: 0.2);
}
.judge-view {
  pointer-events: none;
  position: absolute;
  background: rgba($color: #000000, $alpha: 0.4);
  font-size: 5em;
  font-weight: 600;
}
.lane {
  position: relative;
  width: 100%;
  height: 100%;
  &.action {
    background: rgba($color: #ffffff, $alpha: 0.2);
  }
}

@keyframes fall {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
.note {
  animation-delay: calc(calc(var(--offset) + var(--delay)) * 1s);
  animation-name: fall;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  &.judged {
    opacity: 0;
  }

  .judge {
    width: 100%;
    aspect-ratio: 2 / 1;
  }
  .perfect {
    width: 100%;
    aspect-ratio: 8 / 1;
    background-color: orange;
  }
}
