.Editor
  min-width 30vw

  display flex

  >h1
    display none

.Interactions
  width 3.4em

  margin auto .4em

.NoteState
  font-size 80%

  overflow auto
  display flex
  flex-direction column
