.Editor
  display flex

  >h1
    display none

.Interactions
  width min-content

  margin auto .4em

.NoteState
  font-size 80%

  overflow auto
  display flex
  flex-direction column
