*
  all unset
*
  display revert
input
  width 100%
  &:enabled
    background-color revert
    color revert
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    appearance none
a
  cursor pointer

html,
body,
#root
  margin 0
  padding 0
  height 100%
