:root
  background: #666
body
  all unset
html
body
  height 100%

.source-container
  position absolute
  height 100%
  width 100%
  > h1
    display none
  > *
    position absolute
    height 100%
    width 100%

.score-maker
  @import "style/score-maker"
