.NowPlayingInteraction
  aspect-ratio 1 / 1

  box-sizing border-box
  background rgba(0, 0, 0, 0.2)

  user-select none

  display flex
  flex-direction column
  justify-content center
  align-items center

.Name
  content ''

.Value
  content ''
